<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<title>ProfPocket</title>

<link
rel="stylesheet"
href="/static/style.css">

</head>

<body>

<header>

<h1>ProfPocket</h1>

<a href="/login">

Connexion

</a>

</header>

<div class="chat">

<div id="messages">

</div>

<input
id="message"
placeholder="Pose ta question">

<button
onclick="sendMessage()">

Envoyer

</button>

<br><br>

<input
type="file"
id="photo">

<button
onclick="sendPhoto()">

Envoyer photo

</button>

</div>

<script
src="/static/script.js">

</script>

</body>

</html>
